html
    head
        title Book Details
    body
        h1 Details for book: #{bookNeeded[0].title}     
        h4=bookNeeded[0].title
        p=bookNeeded[0].isbn
        p=bookNeeded[0].longDescription